# Data Pre-Processing

## Import libraries

In [78]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [102]:
dataset = pd.read_csv('/home/jinx/Belajar/Learn to create Machine Learning Algorithms in Python and R from two Data Science experts Code templates included/Preprocessing data/exercise_5.csv')
# dataset = pd.read_csv('/home/jinx/Belajar/Learn to create Machine Learning Algorithms in Python and R from two Data Science experts Code templates included/Preprocessing data/exercise_5_1.csv', delimiter=';')


# mengambil semua nilai baris kecuali kolom terakhir (:-1)
# iloc mengambil data beradasarkan kolom dengan indeks sbg numerik/angka
# x = dataset.iloc[:, :-1].values

dataset['alcohol'] = pd.to_numeric(dataset['alcohol'], errors='coerce')
dataset['alcohol'] = dataset['alcohol'].astype('float')

X = dataset.drop('quality', axis=1)

# y mengambil data pada kolom terakhir
# y = dataset.iloc[:, -1].values
y = dataset['quality']

In [118]:
print(X)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      76.00
1               7.8              0.88         0.00             2.6      98.00
2               7.8              0.76         0.04             2.3      92.00
3              11.2              0.28         0.56             1.9      75.00
4               7.4              0.70         0.00             1.9      76.00
...             ...               ...          ...             ...        ...
1594            6.2              0.60         0.08             2.0       0.09
1595            5.9              0.55         0.10             2.2      62.00
1596            6.3              0.51         0.13             2.3      76.00
1597            5.9            645.00         0.12             2.0      75.00
1598            6.0              0.31         0.47             3.6      67.00

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0    9.978  3.51       0.56
1                    25.0                  67.0    9.968  3.20       0.68
2                    15.0                  54.0  997.000  3.26       0.65
3                    17.0                  60.0  998.000  3.16       0.58
4                    11.0                  34.0    9.978  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0    9.949  3.45       0.58
1595                 39.0                  51.0   99.512  3.52       0.76
1596                 29.0                  40.0   99.574  3.42       0.75
1597                 32.0                  44.0   99.547  3.57       0.71
1598                 18.0                  42.0   99.549  3.39       0.66

      alcohol
0         9.4
1         9.8
2         9.8
3         9.8
4         9.4
...       ...
1594     10.5
1595     11.2
1596     11.0
1597     10.2
1598     11.0

[1599 rows x 11 columns]

In [119]:
print(y)

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

## Identify if dataset is have null value

In [120]:
missing_data = dataset.isnull().sum().sum() # jika nilai nya NaN
# missing_data = (dataset == 0).sum().sum() # jika ada nilai 0

print(missing_data)

6

## Splitting dataset to training and testing

In [121]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [122]:
# print(x_train[:, 3:])
print(x_train)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
493             8.7             0.690         0.31             3.0       86.0
354             6.1             0.210         0.40             1.4       66.0
342            10.9             0.390         0.47             1.8      118.0
834             8.8           685.000         0.26             1.6       88.0
705             8.4             1.035         0.15             6.0       73.0
...             ...               ...          ...             ...        ...
1130            9.1             0.600         0.00             1.9       58.0
1294            8.2           635.000         0.10             2.1       73.0
860             7.2             0.620         0.06             2.7       77.0
1459            7.9             0.200         0.35             1.7       54.0
1126            5.8             0.290         0.26             1.7       63.0

      free sulfur dioxide  total sulfur dioxide   density    pH  sulphates  \
493                  23.0                  81.0    1.2002  3.48       0.74
354                  40.5                 165.0    9.9120  3.25       0.59
342                   6.0                  14.0    9.9820  3.30       0.75
834                  16.0                  23.0   99.6940  3.32       0.47
705                  11.0                  54.0  999.0000  3.37       0.49
...                   ...                   ...       ...   ...        ...
1130                  5.0                  10.0    9.9770  3.18       0.63
1294                 25.0                  60.0   99.6380  3.29       0.75
860                  15.0                  85.0   99.7460  3.51       0.54
1459                  7.0                  15.0   99.4580  3.32       0.80
1126                  3.0                  11.0    9.9150  3.39       0.54

      alcohol
493      11.6
354      11.9
342       9.8
834       9.4
705       9.9
...       ...
1130     10.4
1294     10.9
860       9.5
1459     11.9
1126     13.5

[1279 rows x 11 columns]

In [123]:
print(x_test)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
803             7.7              0.56         0.08            2.50      114.0
124             7.8              0.50         0.17            1.60       82.0
350            10.7              0.67         0.22            2.70      107.0
682             8.5              0.46         0.31            2.25       78.0
1326            6.7              0.46         0.24            1.70       77.0
...             ...               ...          ...             ...        ...
1259            6.8              0.64         0.00            2.70      123.0
1295            6.6              0.63         0.00            4.30       93.0
1155            8.3              0.60         0.25            2.20      118.0
963             8.8              0.27         0.39            2.00        0.1
704             9.1            765.00         0.04            1.60       78.0

      free sulfur dioxide  total sulfur dioxide   density    pH  sulphates  \
803                  14.0                  46.0    9.9710  3.24       0.66
124                  21.0                 102.0  996.0000  3.39       0.48
350                  17.0                  34.0    1.2004  3.28       0.98
682                  32.0                  58.0  998.0000  3.33       0.54
1326                 18.0                  34.0    9.9480  3.39       0.60
...                   ...                   ...       ...   ...        ...
1259                 15.0                  33.0   99.5380  3.44       0.63
1295                 51.0                  77.5   99.5580  3.20       0.45
1155                  9.0                  38.0   99.6160  3.15       0.53
963                  20.0                  27.0   99.5460  3.15       0.69
704                   4.0                  14.0  998.0000  3.29       0.54

      alcohol
803       9.6
124       9.5
350       9.9
682       9.8
1326     10.6
...       ...
1259     11.3
1295      9.5
1155      9.8
963      11.2
704       9.7

[320 rows x 11 columns]

In [124]:
print(y_train)

493     6
354     6
342     6
834     5
705     5
       ..
1130    6
1294    6
860     5
1459    7
1126    6
Name: quality, Length: 1279, dtype: int64

In [125]:
print(y_test)

803     6
124     5
350     6
682     5
1326    6
       ..
1259    6
1295    5
1155    5
963     6
704     4
Name: quality, Length: 320, dtype: int64

## Scalling feature

In [126]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [127]:
print(x_train)

[[ 0.21833164 -0.34437205  0.19209222 ...  1.09349989  0.45822284
   1.12636346]
 [-1.29016623 -0.34650645  0.65275338 ... -0.40043872 -0.40119696
   1.41207845]
 [ 1.49475291 -0.34570605  1.01104539 ... -0.07566946  0.51551749
  -0.58792649]
 ...
 [-0.65195559 -0.34468331 -1.08752211 ...  1.28836145 -0.68767023
  -0.87364148]
 [-0.24582155 -0.34655092  0.39683051 ...  0.05423824  0.80199076
   1.41207845]
 [-1.46422367 -0.34615072 -0.06383064 ...  0.50891521 -0.68767023
   2.93589174]]

In [128]:
print(x_test)

[[-3.61859850e-01 -3.44950114e-01 -9.85152962e-01 ... -4.65392578e-01
  -1.34389336e-04 -7.78403150e-01]
 [-3.03840702e-01 -3.45216916e-01 -5.24491803e-01 ...  5.08915214e-01
  -1.03143815e+00 -8.73641480e-01]
 [ 1.37871461e+00 -3.44460979e-01 -2.68568937e-01 ... -2.05577167e-01
   1.83329452e+00 -4.92688158e-01]
 ...
 [-1.37449586e-02 -3.44772247e-01 -1.15015218e-01 ... -1.04997725e+00
  -7.44964886e-01 -5.87926489e-01]
 [ 2.76350785e-01 -3.46239653e-01  6.01568807e-01 ... -1.04997725e+00
   1.71749571e-01  7.45410138e-01]
 [ 4.50408230e-01  3.05427414e+00 -1.18989125e+00 ... -1.40623314e-01
  -6.87670232e-01 -6.83164819e-01]]